@import "tailwindcss";

@font-face {
	font-family: 'Pretendard';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('/src/assets/fonts/PretendardVariable.woff2') format('woff2-variations');
}

@theme {
  --color-background: #1B1A1F;
  --color-modal-background: #242429;
  --color-stroke: #676975;

  --color-black-900: #131215;
  --color-black-800: #201F23;
  --color-black-700: #262629;
  --color-black-600: #333236;
  --color-black-500: #4B4B4B;

  --color-gray-900: #3C3C41;
  --color-gray-800: #49474F;
  --color-gray-700: #524F5B;
  --color-gray-600: #5B5963;
  --color-gray-500: #787486;
  --color-gray-400: #A39FB2;
  --color-gray-300: #D6D5D9;
  --color-gray-200: #ECECEE;
  --color-gray-100: #F8F7FA;

  --color-brand-950: #00330D;
  --color-brand-900: #00490C;
  --color-brand-800: #10671F;
  --color-brand-700: #0D7910;
  --color-brand-600: #0B8A0B;
  --color-brand-500: #00A200;
  --color-brand-400: #3FC03F;
  --color-brand-300: #6BDA71;
  --color-brand-200: #A6EBAA;
  --color-brand-100: #CFF8D2;

  --color-red: #CA372B;
  --color-blue: #1458BC;
  --color-sky-blue: #76A5EA;

  --color-profile-green: #206E4E;
  --color-profile-violet: #593EA5;
  --color-profile-cyan: #1F6A83;
  --color-profile-rose: #AE2E24;
  --color-profile-cobalt: #1458BC;
  --color-profile-yellow: #BD8C00;
  --color-profile-orange: #9F4B00;

  --font-pretendard: 'Pretendard', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
